.forms {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.formContainer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


svg {
    background-color: rgb(255, 255, 255);
}


#macroForm, #maxWeightForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





